@import "tailwindcss";

@font-face {
    font-family: "DrukWideMedium";
    src: url("/public/assets/DrukWide-Medium.otf");
    font-weight: 500;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

:root{
  /*hide scrollbar*/
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  margin: 0;
  /* font-family: 'Courier New', monospace; */
    font-family: 'Helvetica', monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181717; /* bg-gray-900 */
  color: white;
  overflow-x: hidden;
  /* hide scrollbar */
  scrollbar-width: none;

}

.font-druk {
  font-family: "DrukWideMedium";
}

html {
  scroll-behavior: smooth;
}